# Data Science Tools and Ecosystem

In this notebook, we will summarize Data Science Tools and Ecosystem. In addition, we will provide examples of these environments and tools.
Feel free to explore this notebook!

 __Objectives__:

* List popular languages for Data Science.
* List the most commonly used libraries by Data Scientists.
* List the most used Data Science Tools.
* Create some mathematical expressions in Python.

In the list below, the most popular languages used by Data Scientists are listed:

1. Python
2. R
3. SQL
4. Julia
5. Java

In the list below, there are commonly used libraries by Data Scientists:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. TensorFlow



| Data Science Tools |
| ----------------- |
| Jupyter Notebook   |
| RStudio            |
| VS Code + Python   |
| Spyder             |

### Below are some examples of evaluating arithmetic expressions in Python:

In [4]:
# This is a simple expression to multiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hour = 60
resp =  minutes / hour
print(resp)

3.3333333333333335

## Author 
Guilherme Zanzarine